/*
* Libs
*/
@import "../../bower_components/normalize.css/normalize.css";
@import "../style/partials/slick";
@import "../style/partials/slick-theme";




/*
* Custom
*/
@import "../style/partials/app";
@import "../style/partials/variables";
@import "../style/partials/fonts";
@import "../style/partials/header";
@import "../style/partials/footer";


html {
	width: 100%;
	height: 100%; 
}

body {
	width: 100%;
	height: 100%;
}

a, a:hover, a:active, a:focus {
	text-decoration: none;
}

.wrapper {
	min-height: 100%;
	overflow: hidden;
	position: relative;
}

.footer {
	background:#404040;
	height: 212px;
	margin-top: -212px;
	position: relative;
}
.empty {
	height: 212px;
}

// sticky footer