
@font-face {
	font-family: 'Muller-ExtraBold';
	src: url('../fonts/Muller-ExtraBold.eot');
	src: local('O'), url('fonts/Muller-ExtraBold.woff') format('woff'), 
	url('../fonts/Muller-ExtraBold.ttf') format('truetype'), 
	url('../fonts/Muller-ExtraBold.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}